<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-stimshopSDK" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>StimShopPlugin</name><js-module name="StimShopPlugin" src="www/StimShopPlugin.js"><clobbers target="cordova.plugins.StimShopPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="StimShopPlugin"><param name="ios-package" value="StimShopPlugin" /></feature></config-file><header-file src="src/ios/StimShopPlugin.h" /><source-file src="src/ios/StimShopPlugin.m" /></platform></plugin>